:root {
  --border-color: #eeeeee;
  --letter1-color: #818181;
  --letter2-color: #bcbcbc;
  --background-color1: #fae100;
}

:root a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  display: flex;
  flex-flow: column nowrap;
}
